:host {
  display: block;
  width: 100%;
}

footer {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: #666;
  border-top: 1px solid #e0e0e0;
  background-color: black;
}
