# ENV
.env
.env.*
!.env.example

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/
coverage/
playwright-report/
test-results/

# Angular
.angular/

# Logs
logs
*.log
*.report.html
lh*.json
chromewebdata_*.report.html

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker (optionnel)
docker-data/

# Tests
*.storage.json
BackOffice-Test/e2e.storage.json

