@use "../abstracts" as *;

.table-ui {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: $space-3;
    border-bottom: 1px solid $gray-200;
  }
  th {
    text-align: left;
    font-weight: 600;
  }
}
