.dashboard-card {
  width: 100%;
  background: #fff;
  border: 1px solid #000;
  padding: 24px;
}

.dashboard-title {
  text-align: center;
}

.dashboard-subtitle {
  text-align: center;
  margin-bottom: 12px;
}