// spacing helpers
@use '../abstracts' as *;

div.mt-1 {
  margin-top: $space-1;
}
div.mt-2 {
  margin-top: $space-2;
}
div.mt-3 {
  margin-top: $space-3;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none !important;
}

.rounded-sm {
  border-radius: $radius-sm;
}
.rounded-md {
  border-radius: $radius-md;
}
.rounded-lg {
  border-radius: $radius-lg;
}
