.inline-select {
  width: auto;
  display: inline-block;
  margin-right: 8px;
}
.form-ui {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-row {
  width: 100%;
  display: grid;
  grid-template-columns: 140px 1fr;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}
.actions {
  margin-top: 16px;
  text-align: center;
}
