@use '../abstracts' as *;

.ds-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

@media (min-width: 576px) {
  .ds-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .ds-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .ds-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .ds-container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .ds-container {
    max-width: 1320px;
  }
}

.ds-container-sm {
  max-width: 540px;
}

.ds-container-md {
  max-width: 720px;
}

.ds-container-lg {
  max-width: 960px;
}

.ds-container-xl {
  max-width: 1140px;
}

.ds-container-fluid {
  max-width: none;
}
