node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.git
.gitignore
.vscode
coverage
*.lcov
logs
*.log
pids
*.pid
*.pid.lock
dist
build
tmp
temp
cache
.eslintcache
.env
.env.*
docker-data
pgdata
pgadmin
Dockerfile*
docker-compose.override.yml
README.local.md
