@use "../abstracts" as *;
@use "../themes" as *;

body {
  font-family: $font-family-sans;
  font-size: $font-size-base;
  line-height: $line-height-base;
  background: $default-theme-bg;
  color: $default-theme-text;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: $heading-weight;
  font-family: $font-family-heading;
}
